a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 0.95em;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: map-get($map: $colors, $key: tertiary);
    padding-left: 45px;
}

h2 {
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: 700;
    color: map-get($map: $colors, $key:secondary );
}

/* smooth scroll */

html {
    scroll-behavior: smooth;
}