.portfolio {
    display: flex;
    &__hamb, &__cross {
        display: none;
    }
    
    &__nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;bottom: 0;
        left: 0;
        width: 270px;
        background: map-get($map: $colors, $key:primary );
        &__imgCont {
            width: 140px;
            height: 140px;
            border: 9px solid map-get($map: $colors, $key: nav2);
            border-radius: 50%;
            margin-bottom: 10px;
        }
        a {
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 600;
            opacity: 0.7;
            margin-top: 28px;
            transition: opacity 120ms ease-in-out;
            &:hover {
                opacity: 1;
                transition: opacity 120ms ease-in-out;
            }
        }
        &__menu {
            color: map-get($map: $colors, $key:nav3 );
            &--active {
                color: map-get($map: $colors, $key:secondary );
            }
        }
    }
    &__content {
        margin-left: 270px;
        br {
            display: none;
        }
        &__about {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            h1 {
                color: map-get($map: $colors, $key: primary);
                font-size: 5.5em;
                font-weight: 700;
            }
            h2 {
                text-transform: uppercase;
                font-size: 1.2em;
                font-weight: 500;
                color: map-get($map: $colors, $key:tertiary );
            }
            &__titleSpan {
                color: map-get($map: $colors, $key:secondary );
            }
            p {
                margin: 50px 0 50px;
            }
            &__socialCont {
                padding-left: 45px;
                display: flex;
                &__social {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 3px solid map-get($map: $colors, $key:secondary);
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    margin-right: 20px;
                    transition: opacity 140ms ease-in-out;
                    img {
                        height: 30px;
                        
                    }
                    &:hover {
                        opacity: 0.7;
                        transition: opacity 140ms ease-in-out;
                    }
                }
            }
        }
        &__project {
            min-height: 100vh;
            border-top: 1px solid transparentize(map-get($map: $colors, $key: tertiary), 0.8);
            h2 {
                margin: 70px 0;
            }
            article {
                margin-bottom: 70px ;
                h3 {
                    font-size: 1.62em;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: map-get($map: $colors, $key:secondary );
                }
                h4 {
                    font-size: 1.2em;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: map-get($map: $colors, $key:tertiary );
                    margin-top: 7px;
                }
            }
            &__para {
                margin: 22px 0 18px;
                p {
                    margin-bottom: 7px;
                }
            }
            &__optionsCont {
                display: flex;
                padding-left: 45px;
                a {
                    width: 40px;height: 40px;
                    margin-right: 20px;
                }
                &__option {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    /* background: map-get($colors, secondary); */
                    border: 3px solid map-get($colors, tertiary);
                    height: 40px;
                    width: 40px;
                    margin-right: 20px;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: opacity 140ms ease-in-out;
                    img {
                        height: 25px;
                    }
                    &:hover {
                        opacity: 0.7;
                        transition: opacity 140ms ease-in-out;
                    }
                }
            }
        }
        &__skills {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            border-top: 1px solid transparentize(map-get($map: $colors, $key: tertiary), 0.8);
            h2 {
                margin-bottom: 70px;
            }
            h3 {
                margin-bottom: 35px;
                font-size: 1.2em;
                font-weight: 500;
                text-transform: uppercase;
                color: map-get($map: $colors, $key:tertiary );
            }
            &__logos {
                display: flex;
                justify-content: space-between;
                width: 700px;
                padding-left: 40px;
                &__mainCont {
                    display: flex;
                    justify-content: space-between;
                    width: 50%;
                    margin: 10px;
                    &__cont {
                        display: flex;
                        align-items: center;
                        &__img {
                            height: 40px;
                        }
                    }
                }
            }
        }
        &__contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 100vh;
            border-top: 1px solid transparentize(map-get($map: $colors, $key: tertiary), 0.8);
            h2 {
                margin-bottom: 70px;
            }
            &__form {
                width: 1000px;
                padding-left: 45px;
                display: flex;
                flex-direction: column;
                input {
                    height: 35px;
                    margin-bottom: 25px;
                    padding-left: 15px;
                    border-radius: 0;
                    border: 1px solid lighten(map-get($map: $colors, $key:tertiary), 15);
                    color: map-get($map: $colors, $key:tertiary );
                    &:focus {
                        outline-color: lighten(map-get($map: $colors, $key:tertiary), 15);
                    }
                }
                textarea {
                    resize: vertical;
                    height: 160px;
                    padding: 15px;
                    border-radius: 0;
                    border: 1px solid lighten(map-get($map: $colors, $key:tertiary), 15);
                    color: map-get($map: $colors, $key:tertiary );
                    &:focus {
                        outline-color: lighten(map-get($map: $colors, $key:tertiary), 15);
                    }
                }
                button {
                    margin-top: 30px;
                    border: none;
                    background: map-get($map: $colors, $key:primary );
                    color: map-get($map: $colors, $key:white-light );
                    text-transform: uppercase;
                    padding: 15px 0;
                    width: 100px;
                    cursor: pointer;
                    transition: all 150ms ease-in-out;
                    border: 1px solid map-get($map: $colors, $key:primary );
                    &:hover {
                        background: initial;
                        color: map-get($map: $colors, $key: primary);
                        transition: all 150ms ease-in-out;
                    }
                }
            }
            &__emailCont {
                display: flex;
                align-items: center;
                &__mailto {
                    color: darken(map-get($map: $colors, $key:tertiary), 25);
                }
                &__copy {
                    display: flex;
                    align-items: center;
                    width: 35px;
                    justify-content: center;
                    border: 1px solid map-get($map: $colors, $key:tertiary );
                    border-radius: 7px;
                    height: 35px;
                    margin-left: 15px;
                    cursor: pointer;
                    box-sizing: border-box;
                    transition: opacity 140ms ease-in-out;
                    img {
                        width: 15px;
                    }
                    &:hover {
                        opacity: 0.7;
                        transition: opacity 140ms ease-in-out;
                    }
                }
            }
            &__or {
                margin: 30px 0 15px;
            }
        }
    }
    @include toTablet {
        &__hamb, &__cross {
            display: block;
            position: fixed;
            top: 20px;left: 11px;
            height: 40px;
            cursor: pointer;
            transition: opacity 130ms ease-in-out;
            &:hover {
                opacity: 0.6;
                transition: opacity 130ms ease-in-out;
            }
        }
        &__cross {
            left: 15px;
            z-index: 10;
            &--hidden {
                display: none;
            }
        }
        &__nav {
            width: 100%;
            &__imgCont {
                display: none;
            }
            &--hidden {
                display: none;
            }
        }
        &__content {
            margin-left: 0;
            padding-right: 25px;
            br {
                display: inline;
            }
            &__about {
                h1 {
                    display: inline;
                }
            }
        }
    }
    @include toMobile {
        &__content {
            &__skills {
                &__logos {
                    width: auto;
                    padding-left: 0;
                    &__mainCont {
                        flex-direction: column;
                        align-items: center;
                        width: 50%;
                        justify-content: initial;
                        &__cont {
                            margin-bottom: 30px;
                            height: 20px;
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}

#social__linkedin {
    height: 20px;
}

#skill_html {
    height: 46px;
    margin-top: -3px;
}

#skill_php {
    height: 28px;
}

#skill_node {
    height: 55px;
}