$colors : (
    primary: #BD5D38,
    secondary: #343A40,
    tertiary: #868E96,
    nav2:#CA7D60,
    nav3:#EED6CD,
    white-light: #f3f3f3
);

$queries : (
    toTablet: 1100px,
    toMobile : 790px
);